<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!-- Sitecore Version -->
  <SitecoreType>Mvc</SitecoreType>
  <SitecoreVersion>9.1.001564</SitecoreVersion>

  <!-- Common Parameters -->
  <GlobalWebPath>c:\web</GlobalWebPath>
  <WebsiteCodeName>habitat.dev.local</WebsiteCodeName>
  <WebFolderName>Web</WebFolderName>

  <!-- Muck -->
  <ActiveRole>CM</ActiveRole>
  <MuckEnvironment>local</MuckEnvironment>
  <MuckRecyleAppPool>false</MuckRecyleAppPool>
  <KeepAppConfigIncludes>
    *_modules;
    *_modules_$Role;
    *_modules_solr;
    *_modules_solr-$Role;
    *_support;
    *_$Environment;
    *_$Role;
    *_$Environment.$Role;
    *_Unmanaged;
    Feature;
    Foundation;
    Project;
    NitroNet;
    Unicorn;
    Powershell;
    Zzz;
  </KeepAppConfigIncludes>

  <!-- Benny -->
  <BennyFileWatcher>
    *.cshtml;
  </BennyFileWatcher>

  <!-- Scoop -->
  <AppPoolRuntime>v4.0</AppPoolRuntime>
  <BackupFolderName>Backup</BackupFolderName>
  <SerializationReferenceTemplate>
    <![CDATA[
          <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
            <sitecore>
              <sc.variable name="repositoryRoot" set:value="[BobSerializationPath]"/>
              <sc.variable name="solutionName" set:value="BkbSc"/>
              <sc.variable name="speSourceFolder" set:value="[BobSerializationPath]/serialization/modules/Cognifide.PowerShell" />
              <settings>
                  <setting name="SerializationFolder" set:value="$(repositoryRoot)/serialization/appDefault"/>
              </settings>
            </sitecore>
          </configuration>
          ]]>
  </SerializationReferenceTemplate>
  <DeploymentSerializationReferenceTemplate>
    <![CDATA[
        <configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
          <sitecore>
            <sc.variable name="repositoryRoot" set:value="[BobSerializationPath]"/>
            <sc.variable name="solutionName" set:value="BkbSc"/>
            <sc.variable name="speSourceFolder" set:value="[BobSerializationPath]/serialization/modules/Cognifide.PowerShell" />
          </sitecore>
        </configuration>
        ]]>
  </DeploymentSerializationReferenceTemplate>
  <SerializationPath>.</SerializationPath>
  <SerializationReferenceFilePath>App_Config\Include\Unic.SerializationReference.config</SerializationReferenceFilePath>
  <ScoopPerformUnicornSync>1</ScoopPerformUnicornSync>

  <InstallWebConfigWebConfigPath>src\Project\Website\code</InstallWebConfigWebConfigPath>
  <UnicornSharedSecret>0xGLrPpWuBpVQy9AXgwNJGnBoRjWvcS</UnicornSharedSecret>

  <!-- Scoop: not currently supported for current project -->
  <DatabaseServer>localhost</DatabaseServer>
  <DatabaseBackupShare></DatabaseBackupShare>
  <InitDatabasesPath>.\databases</InitDatabasesPath>
  <ConnectionStringsFolder></ConnectionStringsFolder>
  <WebRootConnectionStringsPath>App_Config\ConnectionStrings.config</WebRootConnectionStringsPath>
  <IISBindings>
    <!-- local author -->
    <Binding IP="127.0.0.1">http://habitat.dev.local</Binding>
    <Binding IP="127.0.0.1">https://habitat.dev.local</Binding>
  </IISBindings>
  <!-- End Scoop: not currently supported for current project -->

  <!-- Dizzy -->
  <NuGetFeed></NuGetFeed>
  <FeatureBranchIssueKeyRegex></FeatureBranchIssueKeyRegex>
  <NugetPackages>
    <Package ID=""  />
  </NugetPackages>

  <!-- Deployment -->
  <SitecoreDirFilesToKeep>shell\sitecore.version.xml;shell\Applications\FXM\EmptyLayout.aspx;service</SitecoreDirFilesToKeep>

    <!-- Used later -->

  <BumpDisableInstallFrontend>1</BumpDisableInstallFrontend>


  <!-- Dodger -->
  <DodgerVersion>2.4.1</DodgerVersion>

  <!-- Lofty -->
  <LoftyVersion>5.1.0</LoftyVersion>

  
  <!-- leave empty to use default App_Data -->
  <DataFolderPath></DataFolderPath>
  <HostsFileComment>generated by Bob Open Build and his Can Do Crew</HostsFileComment>
  <XConnectClientCertificateName></XConnectClientCertificateName>
  <SolrCorePrefix></SolrCorePrefix>
  <SolrUrl>https://localhost:12000</SolrUrl>
  <XConnectCollectionServiceUrl>
    <Binding IP="127.30.0.10"></Binding>
  </XConnectCollectionServiceUrl>
  <XConnectWebsiteCodename></XConnectWebsiteCodename>
  <CertCreationLocation>c:\temp\certs</CertCreationLocation>
  <XConnectWebFoldername>Web</XConnectWebFoldername>
  <SqlPackagePath>C:\Program Files (x86)\Microsoft SQL Server\130\DAC\bin\SqlPackage.exe</SqlPackagePath>
</Configuration>